*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Krungthep", sans-serif;
  /* background-color: #FF00FC; */
  /* background-color: #2513F1; */
  background-color: #000;
  color: #fff;
  line-height: 1.5;
}

a {
  /* color: #99F2F6; */
  color: #FE9EE9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sofachrome", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/********
STRUCTURE
********/

.header,
.nav,
.main,
.chat,
.footer {
  /* background-color: #2513F1; */
  padding: 2em;
}

.container {
  display: grid;
  height: 100vh;
  margin: 1em auto 1em;
  grid-template-areas: 
        "header"
        "nav"
        "main"
        "chat"
        "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  gap: 1em;
}
  @media (min-width: 800px) {
    .container {
      /* grid-template-areas:
        "header header header"
        "nav main chat"
        "footer footer footer";
      grid-template-columns: 200px 1fr 200px;
      grid-template-rows: auto 1fr auto; */
    }
  }

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
}

.chat {
  grid-area: chat;
}

.footer {
  grid-area: footer;
}

/********
HEADER
********/

.header {
  text-align: center;
}

.logo {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

/********
NAV
********/

nav ul {
  list-style-type: none;
  padding-left: 0;
}

/********
MAIN
********/

.main > * {
  padding: 5em 0;
}

.main > :not(.full-width) {
  max-width: 70ch;
  margin: auto;
  text-align: center;
}

.spotify {
  display: block;
  margin: auto;
}

/********
FOOTER
********/

.footer {
  text-align: center;
}