.header {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  color: var(--link-color);
}

  @media (max-width: 1200px) {
    .header {
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 1;
    }
  }

.header > div {
  display: flex;
}

.logo {
  display: block;
  height: 40px;
  margin: auto;
}

.nav ul {
  list-style-type: none;
  display: flex;
  background-color: #000;
}

  @media (max-width: 1200px) {
    .nav ul {
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      padding: 1em;
      z-index: 1;
      width: 50%;
      height: 100%;
      left: 100%;
      margin-top: 40px;
      transition: .25s left ease-in-out;
    }
  }

  @media (min-width: 1200px) {
    .nav ul {
      flex-direction: row;
      position: relative;
      margin: 0;
      z-index: 0;
      padding: 0;
    }
  }

.nav--socials i {
  font-size: 2em;
}

  @media (min-width: 1200px) {
    .nav--socials i {
      font-size: 1em;
    }
  }

@media (max-width: 1200px) {
  .nav--socials ul {
    left: 100%;
  }

  .menuOpen .nav--main ul {
    left: 0;
  }

  .menuOpen .nav--socials ul {
    left: 50%;
  }
}

@media (min-width: 1200px) {
  .nav ul {
    justify-content: center;
    height: 100%;
    gap: 1em;
  }

  .nav--socials ul {
    gap: 0;
  }
}

.nav a,
#date {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1em;
}
  
  @media (min-width: 1200px) {
    .nav a,
    #date {
      padding: 0 .5em;
    }
  }

#date {
  display: none;
}
  
  @media (min-width: 1200px) {
    #date {
      display: flex;
    }
  }

.nav a:hover,
#date:hover,
.menuIcon:hover {
  /* background-color: #FE9EE9; */
  background-color: var(--link-color);
  color: #fff;
}

.menuIcon {
  background: none;
  border: 0;
  color: var(--link-color);
  font-size: 1em;
  width: 2.5em;
  display: block;
  cursor: url(./img/cursor-1.png), pointer;
}
  
  @media (min-width: 1200px) {
    .menuIcon {
      display: none;
    }
  }