.header {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  color: var(--link-color);
}

  /* mobile */
  @media (max-width: 1200px) {
    .header {
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 1;
    }
  }

.header > div {
  display: flex;
}

.logo {
  display: block;
  height: 40px;
  margin: auto;
}

.nav ul {
  list-style-type: none;
  display: flex;
  background-color: #000;
}

  /* mobile */
  @media (max-width: 1200px) {
    .nav ul {
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      padding: 1em;
      z-index: 1;
      width: 50%;
      height: 100%;
      left: 100%;
      margin-top: 40px;
      transition: .25s left ease-in-out;
    }

    .menuOpen .nav--main ul {
      left: 0;
    }

    .menuOpen .nav--socials ul {
      left: 50%;
    }

    .nav--socials i {
      font-size: 2em;
    }
  }

  /* desktop */
  @media (min-width: 1200px) {
    .nav ul {
      height: 100%;
      position: relative;
      margin: 0;
      padding: 0;
      flex-direction: row;
      justify-content: center;
      gap: 1em;
      z-index: 0;
    }

    .nav--socials ul {
      gap: 0;
    }
  }

.nav a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1em;
}
  
  /* desktop */
  @media (min-width: 1200px) {
    .nav a {
      padding: 0 .5em;
    }
  }

.nav a:hover,
.menuIcon:hover {
  background-color: var(--link-color);
  color: #fff;
}

.menuIcon {
  background: none;
  border: 0;
  color: var(--link-color);
  font-size: 1em;
  width: 2.5em;
  display: block;
  cursor: url(./img/cursor-1.png), pointer;
}
 
  /* desktop */
  @media (min-width: 1200px) {
    .menuIcon {
      display: none;
    }
  }