/* https://www.instagram.com/jonah_of_arc/
https://www.instagram.com/cookii.mp3/
https://docs.google.com/presentation/d/1NmrN_U9t7qVDccgHuSaNbfMPGQBHHfKb9VcgyZTj-rc/edit#slide=id.gb5b0871540_0_75 */

:root {
  /* general */
  --bg-color: #FE00C2;
  --heading-color: #0ff;
  --link-color: #F57BD1;
  --link-hover-color: #FD2ED7;
  /* window */
  --window-bar-bg-color: #2300F4;
  --window-bg-color: #170C52;
  --window-text-color: #fff;
}

/* custom scrollbar for supported browsers */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--link-color);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--link-hover-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Krungthep", "ChicagoFLFRegular", sans-serif;
  font-size: .9rem;
  background-color: var(--bg-color);
  /* https://mybrandnewlogo.com/color-gradient-generator */
  background-image: radial-gradient(circle at 20.12% -14.09%, #00b6e4 0, #00b5f9 3.33%, #00b4ff 6.67%, #00b3ff 10%, #00b0ff 13.33%, #00adff 16.67%, #00a9ff 20%, #00a3ff 23.33%, #009dff 26.67%, #0094ff 30%, #008bff 33.33%, #577fff 36.67%, #9472ff 40%, #bb63ff 43.33%, #da51ff 46.67%, #f23cf2 50%, #ff1edc 53.33%, #ff00c5 56.67%, #ff00ae 60%, #ff0096 63.33%, #ff007e 66.67%, #ff0067 70%, #ff0050 73.33%, #ff1c39 76.67%, #ff391e 80%, #ff4e00 83.33%, #fb5e00 86.67%, #ec6c00 90%, #dc7900 93.33%, #ca8300 96.67%, #b68c00 100%);
  background-size: 33.33%;
  line-height: 1.5;
  cursor: url(./img/cursor.png), default;
}

  @media (min-width: 800px) {
    body {
      font-size: 1rem;
    }
  }

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
  cursor: url(./img/cursor-1.png), pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sofachrome", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--heading-color);
  line-height: 1;
  text-align: center;
  margin-bottom: 1em;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1rem;
}

  @media (min-width: 1200px) {
    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 2rem;
    }
  }

.container {
  position: relative;
  min-height: 120vh;
  max-width: 100%;
  margin: 4em 0;
}

  @media (min-width: 800px) {
    .container {
      margin: 4em;
    }
  }

/* desktop icons */

.desktop__icons {
  margin: 2em .5em;
  display: flex;
  flex-direction: row;
  gap: .5em;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.desktop__icon img {
  height: 50px;
}

  @media (min-width: 1000px) {
    .desktop__icons {
      position: absolute;
      top: 20px;
      right: 0;
      margin: 0;
      flex-direction: column;
      gap: 2em;
    }

    .desktop__icon img {
      height: 75px;
    }
  }