.window {
  border: 5px solid var(--window-bar-bg-color);
  overflow-y: hidden;
  box-shadow: 1px 1px 5px var(--window-bar-bg-color);
  background-color: var(--window-bg-color);
  color: var(--window-text-color);
  margin: 2em auto;
}

  @media (max-width: 800px) {
    .window {
      position: relative;
      top: auto !important;
      left: auto !important;
      width: 90% !important;
    }
  }

#stream_embed,
#chat_embed {
  width: 100%;
}
  
  /* mobile */
  @media (max-width: 800px) {
    .window--main:not(.hidden) {
      height: 600px;
    }

    .window--stream:not(.hidden) {
      height: 420px;
    }

    .window--chat:not(.hidden) {
      height: 540px;
    }

    .window--playlist:not(.hidden) {
      height: 420px;
    }
  }

  /* desktop */
  @media (min-width: 800px) {
    .window {
      position: absolute;
      margin: 0;
      top: calc(20px + calc(600px * 0.5));
      left: calc(20px + calc(55% * 0.5));
      width: 0;
      height: 0;
      /* easeInOutBack */
      transition: all .5s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    }

    .window--main.maximized {
      top: 20px;
      left: 20px;
      width: 55%;
    }

    .window--main.maximized:not(.hidden) {
      height: 600px;
    }

    .window--stream {
      top: calc(480px + calc(420px * 0.5));
      left: calc(40% + calc(50% * 0.5));
    }

    .window--stream.maximized {
      top: 480px;
      left: 40%;
      width: 50%;
    }

    .window--stream.maximized:not(.hidden) {
      height: 420px;
    }

    .window--chat {
      top: calc(50px + calc(540px * 0.5));
      left: calc(68% + calc(20% * 0.5));
    }

    .window--chat.maximized {
      top: 50px;
      left: 68%;
      width: 20%;
    }

    .window--chat.maximized:not(.hidden) {
      height: 540px;
    }

    .window--playlist {
      top: calc(650px + calc(420px * 0.5));
      left: calc(10% + calc(24% * 0.5));
    }

    .window--playlist.maximized {
      top: 650px;
      left: 10%;
      width: 24%;
    }

    .window--playlist.maximized:not(.hidden) {
      height: 420px;
    }
  }

.window__bar {
  background-color: var(--window-bar-bg-color);
  color: var(--window-text-color);
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

  @media (min-width: 800px) {
    .window__bar {
      cursor: move;
    }
  }

.window__bar_title {
  cursor: row-resize;
}

.window__content {
  padding: 2em;
  height: 100%;
  overflow-y: scroll;
}

  @media (min-width: 800px) {
    .window__content {
      padding: 2em .5em;
    }

    .window--main .window__content {
      padding: 2em;
    }
  }

.hidden {
  height: 2em;
}

.hidden .window__content {
  height: 0;
  margin-top: -40px;
}

.text {
  max-width: 70ch;
  margin: 5em auto;
  text-align: center;
}

.image img {
  max-width: 100%;
}

/* gallery */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
  text-align: center;
  margin-bottom: 2em;
}

.gallery__item_image {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery__item_image img {
  max-width: 100%;
}