.window {
  /* border: 5px solid black; */
  border: 5px solid var(--window-bar-bg-color);
  /* border: 5px solid #DDDDDD; */
  overflow-y: scroll;
  box-shadow: 1px 1px 5px rgba(0,0,0,.2);
  /* background-color: #fff; */
  background-color: var(--window-bg-color);
  color: var(--window-text-color);
  margin: 2em auto;
}
  @media (max-width: 800px) {
    .window {
      width: 90%;
    }
  }

#stream_embed {
  width: 100%;
}

#chat_embed {
  width: 100%;
  height: 96%;
}

  @media (min-width: 800px) {
    .window {
      position: absolute;
      margin: 0;
    }

    .window--main {
      top: 300px;
      left: 3%;
      width: 55%;
    }

    .window--main .window__content:not(.hidden) {
      height: 600px;
    }

    .window--stream {
      width: 50%;
      top: 60px;
      right: 16%;
    }

    .window--stream .window__content:not(.hidden) {
      height: 600px;
    }

    .window--chat {
      top: 400px;
      right: 17%;
      width: 20%;
    }

    .window--chat .window__content:not(.hidden) {
      height: 800px;
    }

  }

.window__bar {
  /* background-color: #000; */
  background-color: var(--window-bar-bg-color);
  /* background-color: #DDDDDD; */
  color: var(--window-text-color);
  position: sticky;
  top: 0;
  text-align: center;
}

.window__bar:hover {
  cursor: pointer;
}

.window__bar h1 {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  font-family: "Krungthep", sans-serif;
}

.window__content {
  padding: 2em;
  height: 400px;
  transition: 0.2s height ease-in-out, 0.2s margin-top ease-in-out;
}

.hidden {
  height: 0;
  margin-top: -66px;
  /* padding: 0; */
}

.hidden > * {
  /* display: none; */
}

.text {
  max-width: 70ch;
  margin: 5em auto;
  text-align: center;
}

.gallery {
  /* max-width: 800px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 100px;
  /* margin: auto; */
  text-align: center;
  margin-bottom: 2em;
}

.gallery__item_image {
  height: 300px;
  display: flex;
  align-items: center;
}

.gallery__item_image img {
  max-width: 100%;
}